:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

body {
    margin: 0;
    background-color: #f1f2f3;
    font-family: 'Jost', sans-serif;
}

html,
body {
    height: 100%;
}

.mono01 {
    font-family: 'Ubuntu Mono', monospace;
}

h1 {
    color: #3b4151;
}
