<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost&family=Outfit&family=Readex+Pro&family=Ubuntu+Mono&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <style>
        p,
        li {
            line-height: 1.1;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-lg bg-white fixed-top shadow border">
            <div class="container-fluid container">
                <div class="d-lg-none" style="width: 1.5rem;"></div>
                <a class="navbar-brand fw-bold" href="/">HoloAPI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-ellipsis"></i>
                </button>
                <div class="collapse navbar-collapse p-4 pt-0 p-lg-0" id="navbarNav">
                    <hr class="d-lg-none text-dark-50">
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        <li class="nav-item  col-6 col-lg-auto">
                            <a class="nav-link active py-2 px-0 px-lg-2" href="/docs">Swagger Docs</a>
                        </li>
                        <li class="nav-item  col-6 col-lg-auto">
                            <a class="nav-link active py-2 px-0 px-lg-2" href="/support">Support this project</a>
                        </li>
                        <li class="nav-item  col-6 col-lg-auto">
                            <a class="nav-link active py-2 px-0 px-lg-2" href="/faqs">FAQ's</a>
                        </li>
                        <!--li class="nav-item  col-6 col-lg-auto">
                            <a class="nav-link active py-2 px-0 px-lg-2" href="https://updown.io/pche" target="_blank">Server Status</a>
                        </li-->
                        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                            <hr class="d-lg-none my-2 text-dark-50">
                        </li>
                        <li class="nav-item  col-6 col-lg-auto">
                            <a class="nav-link active py-2 px-0 px-lg-2"
                                href="https://github.com/JoelLuna02/HoloAPI2"><i
                                    class="fab fa-github-square me-2"></i>View in github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div style="background-color: #f1f2f3">
            <div class="container p-4">
                <section class="mb-4">

                </section>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.9)">
            <p>
                © 2023 Created by Hector Joel Luna, from <i class="flag flag-argentina ms-1 me-1"></i>Argentina to the World.
                <a href="https://hololivepro.com/en/" class="text-dark fw-bold">Hololive</a> and all names, and
                characters are trademarks of <a href="https://cover-corp.com/" class="fw-bold text-dark">Cover CORP.</a>
                Open source project. Its use for commercial purposes is prohibited. This Project follows 
                the <a href="https://hololivepro.com/en/terms/" class="fw-bold text-dark">Derivative Works Guidelines</a>;
                If you believe that this website is in breach of any
                of the established guidelines, please contact the developer in question.
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='jquery-3.7.0.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
</body>

</html>
