{% extends "base.html" %}
{% block title %}Frequently asked questions - HoloAPI{% endblock %}
{% block content %}
    <div class="container pt-5" style="margin-top: 58px;">
        <h1 class="fw-bold">Welcome to Frequently asked questions section!</h1><hr/>
        <p>
            In this section we will take care of answering some questions that you are probably asking yourself right now about the operation
            of HoloAPI. There's nothing to worry about! Although it is a fairly simple RESTful API, we will not only try to briefly explain some
            important concepts, but also talk a bit about how it works.<br/><br/>
            Below you will have the bibliography on which we base ourselves to bring this documentation.
        </p>
        <h3 class="fw-bold">What's an API?</h3><hr/>
        <p>
            An API is a set of definitions and protocols for building and integrating application software. It’s sometimes referred to as a contract
            between an information provider and an information user—establishing the content required from the consumer (the call) and the content
            required by the producer (the response). For example, the API design for a weather service could specify that the user supply a zip
            code and that the producer reply with a 2-part answer, the first being the high temperature, and the second being the low.<br/><br/>
            In other words, if you want to interact with a computer or system to retrieve information or perform a function, an API helps you
            communicate what you want to that system so it can understand and fulfill the request.<br/><br/>You can think of an API as a mediator
            between the users or clients and the resources or web services they want to get. It’s also a way for an organization to share resources
            and information while maintaining security, control, and authentication—determining who gets access to what.
        </p>
        <h3 class="fw-bold">Definition of REST API</h3><hr/>
        <p>
            A REST API (also known as RESTful API) is an application programming interface (API or web API) that conforms to the constraints of REST
            architectural style and allows for interaction with RESTful web services. REST stands for representational state transfer and was created
            by computer scientist Roy Fielding.
        </p>
        <h3 class="fw-bold">What's the JSON Format?</h3><hr/>
        <p>
            JavaScript Object Notation (JSON) is a standard text-based format for representing structured data based on JavaScript object syntax.
            It is commonly used for transmitting data in web applications (e.g., sending some data from the server to the client, so it can be displayed
            on a web page, or vice versa). You'll come across it quite often, so in this article, we give you all you need to work with JSON using
            JavaScript, including parsing JSON so you can access data within it, and creating JSON.
        </p>
        <h3 class="fw-bold">What are the available endpoints?</h3><hr/>
        <p>
            There are different endpoints available, in which you can make your queries wherever and whenever you want. For example:
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-borderless ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">URL</th>
                        <th scope="col">Method</th>
                        <th scope="col">It is restricted?</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>https://holoapi.onrender.com/v1/vtuber</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>Shows a complete list of all available VTubers.</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>https://holoapi.onrender.com/v1/vtuber/{id}</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>It searches for a vtuber through an id, and if it finds it, it shows her/his information.</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>https://holoapi.onrender.com/v1/vtuber/find?</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>
                            It searches for a vtuber through parameters, and if it finds it, it shows her/his information. <br/>
                            Available parameters: fullname, kanji, fanname, and youtubeurl
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>https://holoapi.onrender.com/v1/vtuber/random</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>Searches and displays a vtuber randomly.</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>https://holoapi.onrender.com/v1/songs</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>Shows a full list of available songs from vtubers. Currently it will return an empty list(*).</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>https://holoapi.onrender.com/v1/songs/{id}</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>It searches for a song through an id, and if it finds it, it shows its information.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 class="fw-bold">Bibliography</h3><hr/>
        <ul>
            <li><a href="https://www.redhat.com/en/topics/api/what-is-a-rest-api">What is a REST API?</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON">Working with JSON - Learn Web development | MDN</a></li>
        </ul>
    </div>
{% endblock %}
