{% extends "base.html" %}
{% block title %}Frequently asked questions - HoloAPI{% endblock %}
{% block content %}
    <div class="container pt-5" style="margin-top: 58px;">
        <h1 class="fw-bold">Welcome to Frequently asked questions section!</h1><hr/>
        <p>
            In this section we will take care of answering some questions that you are probably asking yourself right now about the operation
            of HoloAPI. There's nothing to worry about! Although it is a fairly simple RESTful API, we will not only try to briefly explain some
            important concepts, but also talk a bit about how it works.<br/><br/>
            Below you will have the bibliography on which we base ourselves to bring this documentation.
        </p>
        <h3 class="fw-bold">What's an API?</h3><hr/>
        <p>
            An API is a set of definitions and protocols for building and integrating application software. It’s sometimes referred to as a contract
            between an information provider and an information user—establishing the content required from the consumer (the call) and the content
            required by the producer (the response). For example, the API design for a weather service could specify that the user supply a zip
            code and that the producer reply with a 2-part answer, the first being the high temperature, and the second being the low.<br/><br/>
            In other words, if you want to interact with a computer or system to retrieve information or perform a function, an API helps you
            communicate what you want to that system so it can understand and fulfill the request.<br/><br/>You can think of an API as a mediator
            between the users or clients and the resources or web services they want to get. It’s also a way for an organization to share resources
            and information while maintaining security, control, and authentication—determining who gets access to what.
        </p>
        <h3 class="fw-bold">Definition of REST API</h3><hr/>
        <p>
            A REST API (also known as RESTful API) is an application programming interface (API or web API) that conforms to the constraints of REST
            architectural style and allows for interaction with RESTful web services. REST stands for representational state transfer and was created
            by computer scientist Roy Fielding.
        </p>
        <h3 class="fw-bold">What's the JSON Format?</h3><hr/>
        <p>
            JavaScript Object Notation (JSON) is a standard text-based format for representing structured data based on JavaScript object syntax.
            It is commonly used for transmitting data in web applications (e.g., sending some data from the server to the client, so it can be displayed
            on a web page, or vice versa). You'll come across it quite often, so in this article, we give you all you need to work with JSON using
            JavaScript, including parsing JSON so you can access data within it, and creating JSON.
        </p>
        <h3 class="fw-bold">What information is stored in this RESTful API?</h3><hr/>
        <p>
            A little of everything.<br/><br/>
            There are a good number of attributes available on the VTuber entity. It also has many-to-many and one-to-one relationships.
        </p>
        <h4 class="fw-bold">VTuber Entity</h4><hr/>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">Atribute</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>fullname</td>
                        <td>Full name of the VTuber</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>kanji</td>
                        <td>VTuber name in Japanese sinogram (Kanji)</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>gender</td>
                        <td>Gender of the VTuber (Female, Male or other)</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>age</td>
                        <td>VTuber Age</td>
                        <td>Integer</td>
                    </tr>
                    <tr>
                        <td>units</td>
                        <td>Units to which the VTuber belongs</td>
                        <td>String list</td>
                    </tr>
                    <tr>
                        <td>debut</td>
                        <td>Debut date of the VTuber on YouTube</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>fanname</td>
                        <td>Name of which is attributed to the fans.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>zodiac</td>
                        <td>Corresponding zodiac sign according to her/his birthday.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>birthday</td>
                        <td>Birthday date</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>height</td>
                        <td>Height established for the VTuber (in centimeters).</td>
                        <td>Integer</td>
                    </tr>
                    <tr>
                        <td>youtube</td>
                        <td>YouTube channel url</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>hashtags</td>
                        <td>Tags used for streams and fanarts.</td>
                        <td>One-to-One relationship</td>
                    </tr>
                    <tr>
                        <td>avatar</td>
                        <td>Information of the avatar set.</td>
                        <td>One-to-One relationship</td>
                    </tr>
                    <tr>
                        <td>illust</td>
                        <td>Name of the illustrator of the VTuber.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>aliases</td>
                        <td>Complete list of all corresponding nicknames</td>
                        <td>Many-to-Many relationship</td>
                    </tr>
                    <tr>
                        <td>social</td>
                        <td>Full list of all relevant social networks and platforms</td>
                        <td>Many-to-Many relationship</td>
                    </tr>
                    <tr>
                        <td>songs</td>
                        <td>Complete list of all its corresponding songs.</td>
                        <td>Many-to-Many relationship</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 class="fw-bold">Hashtags Entity</h4><hr/>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">Atribute</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>stream_tag</td>
                        <td>Tag used for streamings</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>fanart_tag</td>
                        <td>Tag used for fanarts</td>
                        <td>String</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 class="fw-bold">Avatar Entity</h4><hr/>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">Atribute</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>file</td>
                        <td>Representative image url</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>source</td>
                        <td>Source where the image was extracted.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>creator</td>
                        <td>Illustration creator.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>app</td>
                        <td>Application to which the image can be found.</td>
                        <td>String</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 class="fw-bold">Aliases Entity</h4><hr/>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">Atribute</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>alias</td>
                        <td>Representative nickname</td>
                        <td>String</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 class="fw-bold">Social Entity</h4><hr/>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">Atribute</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>socialapp</td>
                        <td>Social network name</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>socialurl</td>
                        <td>Representative link of the VTuber social network.</td>
                        <td>String</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4 class="fw-bold">Songs Entity</h4><hr/>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">Atribute</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>Name of the song</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>album</td>
                        <td>Song album</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>releasedate</td>
                        <td>Song release date.</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>compositor</td>
                        <td>Composer name</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>lyrics</td>
                        <td>Song lyric name</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>albumpt</td>
                        <td>Link to album cover image stored in the database</td>
                        <td>String</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 class="fw-bold">What is a many-to-many relationship?</h3><hr/>
        <p>
            A many-to-many relationship occurs when multiple records in a table are associated with multiple records in 
            another table. For example, a many-to-many relationship exists between customers and products: customers 
            can purchase various products, and products can be purchased by many customers.<br><br/>
            Other typical example of a many-to many relationship is one between students and classes. A student can 
            register for many classes, and a class can include many students.<br><br/>
            Note:
            <ul>
                <li>
                    Join tables can access fields and data across tables without having to create a separate relationship. 
                    For example, to display a list of all the classes a student enrolled in, create a portal on a layout 
                    based on the Students table. Design the portal to show related records from the Classes table. 
                    Then add the appropriate fields from Classes to the portal. As you browse through records in the 
                    Students layout, the portal displays all the classes a particular student is enrolled in.
                </li>
            </ul>
        </p>

        <h3 class="fw-bold">What is a one-to-one relationship?</h3><hr/>
        <p>
            In a one-to-one relationship, one record in a table is associated with one and only one record in another 
            table. For example, in a school database, each student has only one student ID, and each student ID is 
            assigned to only one person.
        </p>

        <h3 class="fw-bold">What are the available endpoints?</h3><hr/>
        <p>
            There are different endpoints available, in which you can make your queries wherever and whenever you want. For example:
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">URL</th>
                        <th scope="col">Method</th>
                        <th scope="col">It is restricted?</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>https://holoapi.onrender.com/v1/vtuber</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>Shows a complete list of all available VTubers.</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>https://holoapi.onrender.com/v1/vtuber/{id}</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>It searches for a vtuber through an id, and if it finds it, it shows her/his information.</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>https://holoapi.onrender.com/v1/vtuber/find?</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>
                            It searches for a vtuber through parameters, and if it finds it, it shows her/his information. <br/>
                            Available parameters: fullname, kanji, fanname, and youtubeurl
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>https://holoapi.onrender.com/v1/vtuber/random</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>Searches and displays a vtuber randomly.</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>https://holoapi.onrender.com/v1/songs</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>Shows a full list of available songs from vtubers. Currently it will return an empty list.(*)</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>https://holoapi.onrender.com/v1/songs/{id}</td>
                        <td>GET</td>
                        <td>No</td>
                        <td>It searches for a song through an id, and if it finds it, it shows its information.(*)</td>
                    </tr>
                </tbody>
                <caption>
                    Note: Resources marked with an asterisk (*) indicate that they may show erroneous information or simply won't show
                    anything since they are still in development stages.
                </caption>
            </table>
        </div>

        <h3 class="fw-bold pt-3">Is authentication required?</h3><hr/>
        <p>
            Authentication will only be required for the creation, deletion and modification of entity data, which said 
            resources are blocked for security reasons. This RESTful API has their respective administration accounts.
        </p>

        <h3 class="fw-bold pt-3">How are errors and status codes handled?</h3>
        <p>
            Sometimes, many of the errors that the API returns when something is wrong, returns three pieces of 
            information:<br><br/>
            <ul>
                <li><span class="fw-bold">code:</span> Indicates the error code</li>
                <li><span class="fw-bold">name:</span> Indicates the name of the error</li>
                <li><span class="fw-bold">name:</span> Indicates why the error occurred</li>
            </ul>
            Many times when it comes to common errors, such as: 404 not found, 401 unauthorized or 500 internal service 
            error, the program will show this hierarchy. still, as it is in the case of searching for a VTuber or a song, 
            it will only show a simple message indicating that the vtuber or the song was not found or does not exist, 
            leaving aside the name and the error code.
        </p>
        <h3 class="fw-bold pt-3">Is there any limitation of use?</h3>
        <p>
            At the moment, and because this project is still in development, yes, it does have limitations. That is why 
            sometimes you will notice both on the main page, and also when executing a resource from this api, it can
            return an error 500 indicating connection not available with the database. Or also, it can happen that both
            the resources, such as the main page and its routes, have tortuous requests, that is, slow loads.
        </p>

        <h3 class="fw-bold pt-3">Is any additional documentation offered?</h3>
        <p>
            You can enter our <a href="/docs">docs section</a> to test our resources and more information.
        </p>

        <h3 class="fw-bold pt-3">What tools were used for the elaboration of this project?</h3>
        <div class="row">
            <div class="col-sm-6 text-center pb-5">
                <img src="https://flask.palletsprojects.com/en/2.3.x/_images/flask-horizontal.png" alt="Flask" width="90%">
            </div>
            <div class="col-sm-6 text-end">
                <h4>BackEnd</h4>
                <p>
                    Flask is a small and lightweight Python web framework that provides useful tools and features that
                    make creating web applications in Python easier. It gives developers flexibility and is a more 
                    accessible framework for new developers since you can build a web application quickly using only a 
                    single Python file. Flask is also extensible and doesn’t force a particular directory structure or 
                    require complicated boilerplate code before getting started.
                </p>
            </div>
            <div class="col-sm-6 text-start">
                <h4>Deploying</h4>
                <p>
                    Render is a web application that allows you to deploy any application from any service. It features 
                    free TLS Certificates, global CDN, DDoS protection, private networks, and auto deployment using git.
                </p>
            </div>
            <div class="col-sm-6 text-center pb-5">
                <img src="https://dashboard.render.com/static/media/logo-redesign-02-word-dark.0811da26fe4b1f9a9b6c642d91bbcf73.svg" alt="Render" width="90%">
            </div>
            <div class="col-sm-6 text-center pb-5">
                <img src="https://railway.app/brand/logotype-dark.png" width="90%" alt="Railway">
            </div>
            <div class="col-sm-6 text-end">
                <h4>Database</h4>
                <p>
                    Railway is an implementation platform where an infrastructure is provisioned and then developed 
                    and deployed in the cloud.
                </p>
            </div>
            
        </div>
        <h3 class="fw-bold">Bibliography</h3><hr/>
        <ul>
            <li><a href="https://www.redhat.com/en/topics/api/what-is-a-rest-api">What is a REST API?</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON">Working with JSON - Learn Web development | MDN</a></li>
            <li><a href="https://fmhelp.filemaker.com/help/18/fmp/en/index.html#page/FMP_Help/many-to-many-relationships.html">Many-to-many relationships</a></li>
            <li><a href="https://fmhelp.filemaker.com/help/18/fmp/en/index.html#page/FMP_Help/one-to-one-relationships.html">One-to-one relationships</a></li>
            <li><a href="https://docs.railway.app/getting-started">Getting Started | Railway Docs</a></li>
            <li><a href="https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3">How To Make a Web Application Using Flask in Python 3</a></li>
        </ul>
    </div>
{% endblock %}
