{% extends "base.html" %}
{%block title%}HoloAPI{% endblock %}
{% block content %}
<main style="margin-top: 58px;">
    <div class="bg-dark">
        <div class="container">
            <div class="text-center text-white">
                <h1 class="pt-5 fw-bold display-1 text-white"><i class="fas fa-play text-primary me-2"></i>HoloAPI <small>beta</small></h1>
                <h5 class="pb-4 fw-bold">A new RESTful API fanmade based in Hololive Productions</h5>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="alert alert-primary pb-3" role="alert">
            <h3>Web page and Project under construction</h3><hr/>
            <p>
                We inform all users that this project is still in the development stages, so it is likely that: both problems 
                or bugs will appear on the client side, as well as may present content incorrect or erroneous information when consuming 
                this API.<br/><br>

                The HoloAPI team is working as hard as possible to provide you with a better user experience. If you have any
                problems, you can send a message in the 'issues' section on the GitHub page.<br/><br>

                A message from the developers.
            </p>
        </div>
        <h2 class="fw-bold">VTuber examples:</h2><hr/>
        <div class="row">
            {% for vt in vtuber %}
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="{{ vt.avatar.file }}" class="img-fluid">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="fw-bold">{{vt.fullname}}</h3><hr/>
                                <p>
                                    <span class="fw-bold">Kanji</span>: {{vt.kanji}}<br/>
                                    <span class="fw-bold">Debut</span>: {{vt.debut}}<br/>
                                    <span class="fw-bold">FanArt tags</span>: {{ vt.hashtags.fanart_tag }}<br/>
                                    <span class="fw-bold">Stream tags</span>: {{ vt.hashtags.stream_tag }}<br/>
                                    <span class="fw-bold">Height</span>: {{vt.height}} cm<br/>
                                    {% if vt.age == 0 %}<span class="fw-bold">Age</span>: Not defined{% endif %}<br/>
                                    {% if vt.age == -1 %}<span class="fw-bold">Height</span>: Unknown{% endif %}<br/>
                                    {% if vt.age == -2 %}<span class="fw-bold">Height</span>: Infinity{% endif %}<br/>
                                    {% if vt.age <= -3 %}<span class="fw-bold">Height</span>: Other{% endif %}<br/>
                                    {% if vt.age >= 1 %}<span class="fw-bold">Height</span>: {{vt.age}} years old{% endif %}<br/>
                                    <span class="fw-bold">Birthday</span>: {{ vt.birthday }}<br/>
                                    <span class="fw-bold">Zodiac sign</span>: {{ vt.zodiac }}<br/>
                                    <span class="fw-bold">Gender</span>: {{ vt.gender }}<br/><br/>
                                    <span class="fw-bold">Units</span>:
                                    <ul class="line-height: 1.1;">
                                        {% for unit in vt.units %}
                                        <li>{{ unit }}</li>
                                        {% endfor %}
                                    </ul>
                                </p>
                                <a class="text-dark text-end" href="{{vt.avatar.source}}" target="_blank">
                                    Art by: {{ vt.avatar.creator }}
                                </a><hr/>
        
                                <a class="btn btn-primary" href="https://holoapi.onrender.com/v1/vtuber/{{vt.id}}" target="_blank">
                                    View in raw JSON
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h4 class="fw-bold">Total available entities:</h4><hr/>
        <div class="row text-center">
            <div class="col-4">
                <h5 class="fw-bold">{{total_vtubers}}</h5>
                <p>VTubers</p>
            </div>
            <div class="col-4">
                <h5 class="fw-bold">{{total_aliases}}</h5>
                <p>Aliases</p>
            </div>
            <div class="col-4">
                <h5 class="fw-bold">{{total_social}}</h5>
                <p>Social networks</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
