{% extends "base.html" %}
{%block title%}HoloAPI{% endblock %}
{% block content %}
<main style="margin-top: 58px;">
    <div class="bg-dark">
        <div class="container">
            <div class="text-center text-white">
                <h1 class="pt-5 fw-bold display-1 text-white"><i class="fas fa-play text-primary me-2"></i>HoloAPI</h1>
                <h5 class="pb-4 fw-bold">A new API RESTful fanmade based in Hololive Productions</h5>
            </div>
        </div>
    </div>
    <div class="container pt-3">
        <div class="alert alert-primary pb-3" role="alert">
            <h3>Web page and Project under construction</h3><hr/>
            <p>
                We inform all users that this project is still in the development stages, so it is likely that: both problems 
                or bugs will appear on the client side, as well as may present content incorrect or erroneous information when consuming 
                this API.<br/><br>

                The HoloAPI team is working as hard as possible to provide you with a better user experience. If you have any
                problems, you can send a message in the 'issues' section on the GitHub page.<br/><br>

                A message from the developers.
            </p>
        </div>
        <h2 class="fw-bold">Registered entities:</h2><hr/>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"><h3>{{vtuber_cant}}</h3><h6>VTubers</h6></div>
                            <div class="col-6"><h3 class="display-3 text-center"><i class="fas fa-users"></i></h3></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"><h3>{{song_cant}}</h3><h6>Songs</h6></div>
                            <div class="col-6"><h3 class="display-3 text-center"><i class="fas fa-users"></i></h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}