{% extends "base.html" %}
{% block title %}Support this project - HoloAPI{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="fw-bold pt-5">Support this project</h1><hr>
        <img src="https://w.wallhaven.cc/full/3l/wallhaven-3l91ey.jpg" class="rounded shadow" width="100%">
        <caption><a href="https://wallhaven.cc/w/3l91ey">Image uploaded by Rynios in wallhaven</a></caption>
        <p class="pt-3">
            Yes, this project is free to use. However...

            Developing it and deploying it to the internet required time and dedication, in addition to having limitations 
            which mean that this application is not yet optimized for good use.<br/><br/>
            We don't have the necessary money, and we don't make any profit through this (Maybe in a future version it 
            will be possible, or if the Hololive derivative works guidelines warrant it), so every contribution, 
            big or small, It will be of great help to keep this project going.<br/><br/>
            Consider supporting the creators of HoloAPI, so it will be possible to reach more Hololive developers and 
            fans who want to implement or improve their full stack abilities, and what better way than to do it with their 
            favorite characters. Or even better! so that more otakus can travel to Japan; and you too have that 
            opportunity.<br/><br/>
            Thank you so much!
        </p>
        <a href='https://ko-fi.com/G2G7M1GBM' target='_blank'>
            <img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' />
        </a>
    </div>
{% endblock %}
